In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import stats as stats

In [16]:
def read_data(filename):
    
    df = pd.read_csv(filename,skiprows=[41,42,43,44,45],na_values=[".."],index_col='Country Name')

    #df_countries = pd.DataFrame.transpose(df)
    df_years = df.drop( axis=1, inplace=True)
    
    df_countries = df.drop(df.index[1])
    df_countries = df_countries.dropna()


    #df_countries = df_countries.dropna()
    #df_countries = df_countries.drop(df_countries.index[1])

    #df_years = pd.DataFrame.transpose(df_countries)

    return df, df_years, df_countries

In [17]:
filename = "9b565bfd-e50d-4466-aadd-a7f079f49562_Data.csv"  
df, df_years, df_countries = read_data(filename)

In [18]:
print('dataframes with years as columns:\n',df_years)

dataframes with years as columns:
 Country Name          Australia              China              Italy  \
Series Name   Population, total  Population, total  Population, total
Country Code                AUS                CHN                ITA
1960                 10276477.0        667070000.0         50199700.0
1961                 10483000.0        660330000.0         50536350.0
1962                 10742000.0        665770000.0         50879450.0
...                         ...                ...                ...
2018                 24966643.0       1402760000.0         60421760.0
2019                 25340217.0       1407745000.0         59729081.0
2020                 25655289.0       1411100000.0         59438851.0
2021                 25688079.0       1412360000.0         59109668.0
2022                 25978935.0       1412175000.0         58856847.0

Country Name              Japan           Pakistan       South Africa  \
Series Name   Population, total  Population, total  Population, total
Country Code                JPN                PAK                ZAF
1960                 93216000.0         45954226.0         16520441.0
1961                 94055000.0         47060915.0         16989464.0
1962                 94933000.0         48161841.0         17503133.0
...                         ...                ...                ...
2018                126811000.0        219731479.0         57339635.0
2019                126633000.0        223293280.0         58087055.0
2020                126261000.0        227196741.0         58801927.0
2021                125681593.0        231402117.0         59392255.0
2022                125124989.0        235824862.0         59893885.0

Country Name     United Kingdom      United States            Nigeria
Series Name   Population, total  Population, total  Population, total
Country Code                GBR                USA                NGA
1960                 52400000.0        180671000.0         44928342.0
1961                 52800000.0        183691000.0         45855507.0
1962                 53250000.0        186538000.0         46821845.0
...                         ...                ...                ...
2018                 66460344.0        326838199.0        198387623.0
2019                 66836327.0        328329953.0        203304492.0
2020                 67081234.0        331511512.0        208327405.0
2021                 67026300.0        332031554.0        213401323.0
2022                 66971411.0        333287557.0        218541212.0

[65 rows x 9 columns]

In [19]:
print('dataframes with countries as columns:\n',df_countries)

dataframes with countries as columns:
                       Series Name Country Code         1960         1961  \
Country Name
Australia       Population, total          AUS   10276477.0   10483000.0
China           Population, total          CHN  667070000.0  660330000.0
Italy           Population, total          ITA   50199700.0   50536350.0
Japan           Population, total          JPN   93216000.0   94055000.0
Pakistan        Population, total          PAK   45954226.0   47060915.0
South Africa    Population, total          ZAF   16520441.0   16989464.0
United Kingdom  Population, total          GBR   52400000.0   52800000.0
United States   Population, total          USA  180671000.0  183691000.0
Nigeria         Population, total          NGA   44928342.0   45855507.0

                       1962         1963         1964         1965  \
Country Name
Australia        10742000.0   10950000.0   11167000.0   11388000.0
China           665770000.0  682335000.0  698355000.0  715185000.0
Italy            50879450.0   51252000.0   51675350.0   52112350.0
Japan            94933000.0   95900000.0   96903000.0   97952000.0
Pakistan         48161841.0   49325050.0   50552592.0   51841626.0
South Africa     17503133.0   18042215.0   18603097.0   19187194.0
United Kingdom   53250000.0   53650000.0   54000000.0   54348050.0
United States   186538000.0  189242000.0  191889000.0  194303000.0
Nigeria          46821845.0   47822569.0   48856332.0   49925799.0

                       1966         1967  ...          2013          2014  \
Country Name                              ...
Australia        11651000.0   11799000.0  ...  2.312813e+07  2.347569e+07
China           735400000.0  754550000.0  ...  1.363240e+09  1.371860e+09
Italy            52519000.0   52900500.0  ...  6.023395e+07  6.078914e+07
Japan            98851000.0   99879000.0  ...  1.274450e+08  1.272760e+08
Pakistan         53199414.0   54629793.0  ...  2.053376e+08  2.082516e+08
South Africa     19789771.0   20410677.0  ...  5.387362e+07  5.472955e+07
United Kingdom   54648500.0   54943600.0  ...  6.412827e+07  6.460230e+07
United States   196560000.0  198712000.0  ...  3.160599e+08  3.183863e+08
Nigeria          51020296.0   52106681.0  ...  1.747261e+08  1.793790e+08

                        2015          2016          2017          2018  \
Country Name
Australia       2.381600e+07  2.419091e+07  2.459420e+07  2.496664e+07
China           1.379860e+09  1.387790e+09  1.396215e+09  1.402760e+09
Italy           6.073058e+07  6.062750e+07  6.053671e+07  6.042176e+07
Japan           1.271410e+08  1.270760e+08  1.269720e+08  1.268110e+08
Pakistan        2.109693e+08  2.135248e+08  2.163797e+08  2.197315e+08
South Africa    5.587650e+07  5.642227e+07  5.664121e+07  5.733964e+07
United Kingdom  6.511622e+07  6.561159e+07  6.605886e+07  6.646034e+07
United States   3.207390e+08  3.230718e+08  3.251221e+08  3.268382e+08
Nigeria         1.839958e+08  1.886669e+08  1.934959e+08  1.983876e+08

                        2019          2020          2021          2022
Country Name
Australia       2.534022e+07  2.565529e+07  2.568808e+07  2.597894e+07
China           1.407745e+09  1.411100e+09  1.412360e+09  1.412175e+09
Italy           5.972908e+07  5.943885e+07  5.910967e+07  5.885685e+07
Japan           1.266330e+08  1.262610e+08  1.256816e+08  1.251250e+08
Pakistan        2.232933e+08  2.271967e+08  2.314021e+08  2.358249e+08
South Africa    5.808706e+07  5.880193e+07  5.939226e+07  5.989388e+07
United Kingdom  6.683633e+07  6.708123e+07  6.702630e+07  6.697141e+07
United States   3.283300e+08  3.315115e+08  3.320316e+08  3.332876e+08
Nigeria         2.033045e+08  2.083274e+08  2.134013e+08  2.185412e+08

[9 rows x 65 columns]

In [20]:
print(df_years.describe())

Country Name          Australia              China              Italy  \
count                        65                 65                 65
unique                       65                 65                 65
top           Population, total  Population, total  Population, total
freq                          1                  1                  1

Country Name        Japan           Pakistan       South Africa  \
count                65.0                 65                 65
unique               64.0                 65                 65
top           127445000.0  Population, total  Population, total
freq                  2.0                  1                  1

Country Name     United Kingdom      United States            Nigeria
count                        65                 65                 65
unique                       65                 65                 65
top           Population, total  Population, total  Population, total
freq                          1                  1                  1

In [21]:
#data = df_years.iloc[0:, 1:]
#df_years.pivot_table(data, index=['Country Name','Series Name'])
#df_years.pivot_table(index=['Country Name','Series Name'])

In [22]:
df_years_gap4= df_years[['Series Name','1990', '1994', '1998', '2002', '2006', '2012' ]]
df_years_gap4[(df_years_gap4['Series Name']=='Population, total')].plot.bar();
plt.title('Population, total of different countries with 4 years gap')

KeyError: "None of [Index(['Series Name', '1990', '1994', '1998', '2002', '2006', '2012'], dtype='object', name='Country Name')] are in the [columns]"